/*----ORCA UNIFIED STYLING FOR ALL CONTROLS----*/

/*----GLOBAL VARIABLES ----*/
:root {
	--dialog-button-sizer-height : 62px; /*----32 + 15 * 2----*/
	--dialog-button-gap          : 15px;
}

/*----GLOBAL COLORS ----*/
:root { 
	--main-color			: #009688;
	--main-color-hover		: #26A69A;
	--main-color-fixed		: #009688;
	--bg-color				: #FFFFFF;
	--bg-color-secondary	: #F8F8F8;
	--bg-color-alt			: #F1F1F1;
	--fg-color-text			: #262E30;
	--fg-color-label		: #363636;
	--fg-color-disabled		: #ACACAC;
	--focus-bg-item			: #BFE1DE;
	--focus-bg-box			: #E5F0EE;
	--border-color			: #DBDBDB;
	--icon-color			: #7C8282;
	--button-fg-light		: #FEFEFE;
	--button-fg-text		: #262E30;
	--button-fg-disabled	: #6B6B6B;
	--button-bg-normal		: #DFDFDF;
	--button-bg-hover		: #D4D4D4;
	--button-bg-disabled	: var(--button-bg-normal);
	--button-bg-alert		: #E14747;
}
  
@media (prefers-color-scheme: dark) { 
:root {
	--main-color			: #00675B;
	--main-color-hover		: #008172;
	--main-color-fixed		: #009688;
	--bg-color				: #2D2D31;
	--bg-color-secondary	: #36363B;
	--bg-color-alt			: #242428;
	--fg-color-text			: #EFEFF0;
	--fg-color-label		: #B2B3B5;
	--fg-color-disabled		: #65656A;
	--focus-bg-item			: #223C3C;
	--focus-bg-box			: #283232;
	--border-color			: #4A4A51;
	--icon-color			: #949494;
	--button-fg-light		: #FEFEFE;
	--button-fg-text		: #EFEFF0;
	--button-fg-disabled	: #818183;
	--button-bg-normal		: #3E3E45;
	--button-bg-hover		: #4D4D54;
	--button-bg-disabled	: var(--button-bg-normal);
	--button-bg-alert		: #E14747;
}
}

/*////////////////////////////*/
/*       UI COMPONENTS        */
/*////////////////////////////*/

/*/// BUTTONS ///*/
/*----Values slightly different since renderer is different----*/
/*----Currently no support for focus border----*/
.ButtonTypeCompact   { font-size: 11px; padding: 0px 8px ; border-radius: 12px; line-height: 23px; height: 24px; text-align: center}
.ButtonTypeWindow    { font-size: 13px; padding: 0px 11px; border-radius: 12px; line-height: 23px; height: 24px; text-align: center}
.ButtonTypeChoice    { font-size: 15px; padding: 0px 13px; border-radius: 4px ; line-height: 31px; height: 32px; text-align: center}
.ButtonTypeParameter { font-size: 15px; padding: 0px 12px; border-radius: 4px ; line-height: 25px; height: 26px; text-align: center}
.ButtonTypeExpanded  { font-size: 15px; padding: 0px 12px; border-radius: 4px ; line-height: 31px; height: 32px; text-align: center}

.ButtonTypeWindow,
.ButtonTypeCompact {
	min-width: 36px; /*----58 - 11*2(padding)----*/
}

.ButtonTypeWindow.ButtonStyleConfirm { /*---- Commonly used as "All" button before "Clear All" button----*/
	margin-right:10px;
}

.ButtonTypeChoice {
	min-width: 74px; /*----100 - 13*2(padding)----*/
	margin-left:var(--dialog-button-gap);
}

.ButtonTypeExpanded {
	width: 100%;
}

.ButtonTypeExpanded {
	width: 120px;
}

.ButtonStyleConfirm        { background: var(--main-color        ); color: var(--button-fg-light   )}
.ButtonStyleConfirm:hover  { background: var(--main-color-hover  ); color: var(--button-fg-light   )}
.ButtonStyleRegular        { background: var(--button-bg-normal  ); color: var(--button-fg-text    )}
.ButtonStyleRegular:hover  { background: var(--button-bg-hover   ); color: var(--button-fg-text    )}
.ButtonStyleAlert          { background: var(--button-bg-normal  ); color: var(--button-fg-text    )}
.ButtonStyleAlert:hover    { background: var(--button-bg-alert   ); color: var(--button-fg-light   )}
.ButtonStyleDisabled       { background: var(--button-bg-disabled); color: var(--button-fg-disabled)}

/*/// COMBOBOX ///*/
/*
STRUCTURE
	<select class="ComboBox NoLabel">
		<option value="1">Checked</option>
		<option value="2">Unchecked</option>
	</select>
OPTIONS
	NoLabel : Hides label and just shows arrow icon
*/
.ComboBox {
    width: 120px;
    background: inherit;
    border: 1px solid var(--border-color);
    border-radius: 0;
    -webkit-appearance: none; /* Hide arrow */
    background-image:  url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><polyline points="11.5 6.5 6.5 9.5 1.5 6.5" style="fill:none;stroke:gray;stroke-linecap:round;stroke-linejoin:round"/></svg>');
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 16px;
	font-size: 14px;
    color: var(--fg-color-text);
    padding: 4px 4px 4px 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ComboBox:focus {
    outline: none;
    background-color: var(--focus-bg-box);
    border-color: var(--main-color);;
}
    
.ComboBox:hover {
    border-color: var(--main-color);;
}

.ComboBox.NoLabel {
    width: 28px;
    padding: 4px;
    background-position: left 6px center;
    color: transparent;
}

.ComboBox option {
    background: var(--bg-color);
}

.ComboBox option:checked {
    background: var(--focus-bg-item);
}