#Content
{
	overflow-y:auto;
	padding: 0 10px 0 20px; /* ORCA Specify & Reduce horizontal paddings to fit 4 items per row */
	height: 100%;
}

.OneVendorBlock {
	position: relative;
	margin-bottom: 7px;
}

.OneVendorBlock:last-of-type{
	margin-bottom: 36px;
}

.BlockBanner
{
	position: sticky;
	top: 0;
	left: 0;
	padding: 0px;
	border-bottom: 2px solid var(--main-color);
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 100;
	background-color: var(--bg-color-secondary);
	box-sizing: border-box;
}

.BannerBtns
{
	display: flex;
	white-space: nowrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-right: 5px; /* ORCA align buttons with end of horizontal separator/line */
	margin-left: auto;
}

.BlockBanner  a
{
	line-height: 30px;
	height: 30px;
	font-size: 17px;
	font-weight: 600;
	padding: 0px 10px;
	color: var(--fg-color-text);
}

.BlockBanner .modelCount{
	margin: 0 15px 0 auto;
}

.BlockBanner .modelCount,
.BlockBanner .modelCount *{
	font-size: 14px;
	line-height: 14px;
	height: 15px;
	color: var(--fg-color-label);
}

.VendorCheckbox {
	transform: scale(1.3);
}

.PrinterArea
{
	padding: 7px 0px; /* ORCA Reduce horizontal paddings to fit 4 items per row */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 7px;
}

.PrinterBlock
{
	text-align: center;
	padding: 10px;
	background-color: var(--bg-color-secondary);
	position: relative;
	border: 1px solid transparent
}

.PrinterBlock:hover
{
	background-color: var(--focus-bg-item);
	border-color:var(--main-color);
}

.PImg
{
	position:relative;
	width:120px;      /* ORCA use covers as 120x120px but use source file as 240x240 for better quality on hidpi */
	height:120px;	  /* ORCA fit image to fill frame */
	padding:5px 20px 10px /* ORCA use less vertical padding */
}

.PrinterInfo {
	position: absolute;
	width: 22px;
	height: 22px;
	background-color: var(--main-color);
	right: 4px;
	top: 4px;
	opacity: 0;
	border-radius: 12px;
	box-sizing: border-box;
	border: 1px solid transparent;
	color: transparent;
	z-index: 9999;
}

.PrinterBlock:hover .PrinterInfo {
	opacity: 1;
}

.PrinterInfo .dots {
	text-align: center;
	margin: auto;
	font-size: 14px;
	line-height: 18px;
}

.PrinterInfo {
	--card-animation-delay: .6s;
}

#Content[layout="2"] .PrinterInfo {
	--card-animation-delay: .3s;
}

.PrinterInfo:hover .dots{
	animation: markHide 0s forwards;  
	animation-delay: var(--card-animation-delay);
}

@keyframes markHide {
	0%   {display: block} 
	100% {display: none }   
}

.PrinterBlock:hover .PrinterInfo:hover {
	--card-info-height: 132px;
	background-color: var(--main-color-hover);
	animation: cardInfo 0s forwards;  
	animation-delay: var(--card-animation-delay);
	font-size: 0;
}

@keyframes cardInfo {
	0%   {
		color: transparent
	}
	100% {
		height: var(--card-info-height);
		width: calc(100% - 10px);
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		border: 1px solid var(--border-color);
		color: var(--fg-color-text);
		background-color: var(--bg-color);
		padding:10px;
		text-align: left;
		line-height: 18px;
		font-size: 14px;
	}
}

#Content[layout="0"] .PrinterBlock:hover .PrinterInfo:hover,
#Content[layout="1"] .PrinterBlock:hover .PrinterInfo:hover{
	--card-info-height: fit-content;
}

.PrinterInfo .title {font-weight: 700}
.PrinterInfo .value {font-weight: 400}

.PrinterInfo :not(.dots){
	display: none;
}

.PrinterInfo:hover :not(.dots){
	display: block;
}


.ModelCheckBox
{
	position: absolute;
	height: 6px;
	bottom: 0;
	left:10%;
	width: 80%;
	background-color: var(--button-bg-hover)
}

.ModelCheckBox.ModelCheckBoxSelected
{
	background-color: var(--main-color-fixed)
}

img.ModelThumbnail
{
	width:  100%;
	height: 100%;
}

.PName
{
	font-weight: 600;
	line-height: 20px; /* ORCA */
	text-align: center;
	width: 100%;
}

.PName > p {
	color: var(--fg-color-text);
}

.pNozzel
{
	display: none;
	align-items: center;
	justify-content:flex-start;
	color: #5A5A5A;	
	padding-left: 0px; /* ORCA Align checkboxes with with model text */
}

.pNozzel input
{
	vertical-align: middle;
	margin-right: 5px;
}

.LayoutSelector {
	position: absolute;
	right:21px;
	top:14px;
}

.LayoutSelector .TabGroup {
	position: relative;
	display: flex;
	padding: 2px;
	gap:2px;
	border-radius: 6px;
	background-color: var(--bg-color-alt);
}

.LayoutSelector .icon {
	-webkit-mask-image: var(--url);
	mask-image: var(--url);
	width:  16px;
  	height: 16px;
	background-color: var(--icon-color);
	opacity: 0.8;
}

.LayoutSelector .TabButton {
	padding: 7px;
	border-radius: 4px;
}

.LayoutSelector .TabButton.selected {
	background-color: var(--main-color);
}
.LayoutSelector .TabButton.selected:hover {
	background-color: var(--main-color-hover);
}
.LayoutSelector .TabButton.selected .icon{
	background-color: #FFFFFF;
}

.LayoutSelector .TabButton:nth-of-type(1) .icon {--url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M.5,3.5h6M.5.5h6M.5,6.5h6M.5,9.5h6M.5,12.5h6M.5,15.5h6M9.5,3.5h6M9.5.5h6M9.5,6.5h6M9.5,9.5h6M9.5,12.5h6M9.5,15.5h6" style="fill:none; stroke:currentColor; stroke-linecap:square"/></svg>')}
.LayoutSelector .TabButton:nth-of-type(2) .icon {--url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M2.83,3.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM8.83,3.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM14.83,3.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM2.83,9.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM8.83,9.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM14.83,9.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM2.83,15.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM8.83,15.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67ZM14.83,15.5h-1.67c-.37,0-.67-.3-.67-.67v-1.67c0-.37.3-.67.67-.67h1.67c.37,0,.67.3.67.67v1.67c0,.37-.3.67-.67.67Z" style="fill:none; stroke:currentColor"/></svg>')}
.LayoutSelector .TabButton:nth-of-type(3) .icon {--url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M5.5,6.5H1.5c-.55,0-1-.45-1-1V1.5C.5.95.95.5,1.5.5h4c.55,0,1,.45,1,1v4c0,.55-.45,1-1,1ZM15.5,5.5V1.5c0-.55-.45-1-1-1h-4c-.55,0-1,.45-1,1v4c0,.55.45,1,1,1h4c.55,0,1-.45,1-1ZM5.5,15.5H1.5c-.55,0-1-.45-1-1v-4c0-.55.45-1,1-1h4c.55,0,1,.45,1,1v4c0,.55-.45,1-1,1ZM15.5,14.5v-4c0-.55-.45-1-1-1h-4c-.55,0-1,.45-1,1v4c0,.55.45,1,1,1h4c.55,0,1-.45,1-1Z" style="fill:none; stroke:currentColor"/></svg>')}


/* LIST LAYOUT */
#Content[layout="0"] .OneVendorBlock {
	margin-bottom: 15px;
}

#Content[layout="0"] .PrinterArea {
	grid-template-columns: repeat(4, 1fr);
}

#Content[layout="0"] .PrinterBlock {
	display: flex;
	align-items: center;
	padding: 5px 10px;
}

#Content[layout="0"] .PName {
	text-align: left;
	margin-left: 5px;
	font-weight: 400;
}

#Content[layout="0"] .PImg {
	display: none;
}

#Content[layout="0"] .ModelCheckBox {
	width: 6px;
	height: 100%;
	left:0;
	top:0
}

#Content[layout="0"] .OneVendorBlock:last-of-type{
	margin-bottom: 0px;
}

/* COMPACT LAYOUT */
#Content[layout="1"] .PrinterArea {
	grid-template-columns: repeat(3, 1fr);
}

#Content[layout="1"] .PrinterBlock {
	display: flex;
	align-items: center;
	padding: 3px 5px;
}

#Content[layout="1"] .PName {
	text-align: left;
}

#Content[layout="1"] .PImg {
	width: 60px;
	min-width: 60px;
	height: 60px;
	padding: 3px 12px
}

#Content[layout="1"] .ModelCheckBox {
	width: 6px;
	height: 80%;
	left:0;
	top:10%
}

#Content[layout="1"] .OneVendorBlock:last-of-type{
	margin-bottom: 0px;
}

/* SNAPPY SCROLLING */
#Content {
	scroll-snap-type: y mandatory;
}

.OneVendorBlock {
	scroll-snap-align: start;
	scroll-margin-top: 0px;
	scroll-margin-bottom: 9999px; /* disables bottom snapping */
}

.PrinterBlock {
	scroll-snap-align: start;
	scroll-margin-top: 38px; /* should match with titlebar height + margin */
	scroll-margin-bottom: 9999px; /* disables bottom snapping */
} 

#CreateBtn{
	margin-right: auto;
	margin-left: 0;
}

/*-----Notice-----*/
#NoticeMask
{
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0.05;
	display: none;
}

#NoticeBody
{
	display: none;
	width: 400px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background-color: inherit;	
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left: -200px;
}

#NoticeBar
{
	background-color:#00f0d8;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}

#NoticeContent
{
	padding: 4mm 10mm;	
}


#NoticeBtns
{
	margin-top: 4mm;
	display: flex;
	justify-content:flex-end;
}

.search {
	display: flex;
	position: absolute;
	left:66px;
	top: 14px;
	width: 34px;
	height: 34px;
	z-index: 99;
	overflow: hidden;
}

.search:focus-within,
.search[hasvalue="1"] {
	width: calc(100% - 194px);
}

.searchTerm {
	width: 100%;
	height: 100%;
	border: 1px solid var(--button-bg-normal);
	padding: 4px 5px;
	line-height: 24px; /* ORCA center text vertically */
	border-radius: 6px;
	outline: none;
	font-size: 14px;
	box-sizing: border-box;
	background-color: var(--button-bg-normal);
}

.search:focus-within .searchTerm,
.search[hasvalue="1"] .searchTerm,
.search[hasvalue="1"]:not(:focus-within) .searchTerm:hover {
	padding-left:33px;
	background-color: var(--bg-color);
	border-color: var(--main-color);
}

.search:is([hasvalue="1"]):not(:focus-within) .searchTerm {
	border-color: var(--border-color);
}

.search:not(:focus-within, [hasvalue="1"]) .searchTerm {
	cursor: default;
}

.search:not(:focus-within, [hasvalue="1"]) .searchTerm:hover {
	background-color: var(--button-bg-hover);
}

.search-placeholder {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	color: var(--fg-color-disabled);
	pointer-events: none;
	line-height: 24px;
	left: 33px;
}

.searchTerm:not(:placeholder-shown) + .search-placeholder {
	opacity: 0;
}

.search-icon {
	--url: var(--icon-search);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 9px;
	-webkit-mask-image: var(--url);
	mask-image: var(--url);
	width:  16px;
  	height: 16px;
	background-color: var(--icon-color);
	pointer-events:none;
}

.SidebarBtn {
	position: absolute;
	left: 20px;
	top: 14px;
	padding: 9px;
	border-radius: 6px;
}

.SidebarBtn .icon {
	--url: url('data:image/svg+xml;utf8,<svg id="a" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M14.5,15.5H1.5c-.55,0-1-.45-1-1V1.5C.5.95.95.5,1.5.5h13c.55,0,1,.45,1,1v13c0,.55-.45,1-1,1ZM6.5.5v15M2.5,3.5h2M2.5,6.5h2M2.5,9.5h2M2.5,12.5h2" style="fill:none; stroke:currentColor; stroke-linecap:square"/></svg>');
	-webkit-mask-image: var(--url);
	mask-image: var(--url);
	width:  16px;
  	height: 16px;
	background-color: var(--icon-color);
	pointer-events:none;
}

#SidebarContainer {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	z-index: 999999;
	opacity: 0;
	display: flex;
	pointer-events: none;
}

#SidebarContainer[open="1"] {
	opacity: 1;
	pointer-events: all;
}

#Sidebar {
	width: 280px;
	margin-left: -280px;
	height:100%;
	background-color: var(--bg-color);
	box-shadow: 5px 0 20px rgba(0,0,0,.2);
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-y: auto;
}

#Sidebar .title {
	font-size: 17px;
	line-height: 17px;
	font-weight: 600;
	padding-left: 20px;
	margin-bottom: 5px;
}

#Sidebar .area {
	width: 100%;
	flex-grow: 1;
}

#Sidebar .SidebarItem {
	width: 100%;
	padding:2px 10px 2px 20px;
	color:var(--fg-color-text);
	font-size: 14px;
	border: 1px solid transparent;
	box-sizing: border-box;
}

#Sidebar .SidebarItem:hover {
	border-color: var(--main-color);
}

#SidebarContainer .back{
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,.3);
}

#SidebarContainer[open = "1"] #Sidebar {
	margin-left: 0px;
}
