
#Content
{
	padding-right:10%;
	padding-left: 10%;
}

#FeatureText
{
	line-height: 30px;
	margin-top: 10mm;
}

#CheckArea
{
	margin-top:10mm;
}

#RestartText
{
	padding-left:30px;
}

.TextPoint
{
	font-size:14px;
}