body
{
	text-align:center;
	max-width: none;
	max-height: none;
	padding: var(--window-padding);
	gap: 2%;
	justify-content: center;  /* ensures all content fits */
	box-sizing: border-box;
}

#SlicerIcon
{
	min-height: 1.5em;
	max-height: 9em;
}

#SlicerIcon > img
{
	width: auto;
	height: 100%;
}

#Title
{
	font-size: 1.5em;
	line-height: 1.5em;
	color: var(--main-color-fixed);
}

#STip
{
	padding-bottom: 8%;
}

#BtnArea
{
	align-items: center;
}

#StartBtn
{
	display: inline-block;
    text-decoration:none;	
}
