
#PolicyTxt
{
	background-color: var(--bg-color-secondary);
	padding: 12px;
	word-wrap:break-word;
	overflow-y: scroll;
	min-height: 200px;
	text-indent: 2em;
}

#C_List li
{
	margin-left: 4em;
}

p
{ 
	text-indent:2em;
	margin-bottom: 2px;
}