.PolicyArea
{
	background-color: var(--bg-color-secondary);	
}

#PolicyTxt
{
	padding: 12px;
	word-wrap:break-word;
	overflow-y: auto;
	min-height: 200px;
	text-indent: 2em;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
}

#C_List li
{
	margin-left: 4em;
}

p
{ 
	text-indent:2em;
	margin-bottom: 2px;
}